{% extends 'base.html' %}

{% block content %}

<div class="row">
  <div class="col-2">
    <img src="{{ write.icon.url }}" class="img-fluid" />
  </div>
  <div class="col-10">
    <a href="{{ write.url }}"><h1>{{ write.title }}</h1></a>
  </div>
</div>

<div class="row">
  <div class="col-8">
    <img src="{{ write.image.url }}" class="img-fluid" />
  </div>
  <div class="col-4">
      <a href="javascript:{document.getElementById('upvote').submit()}"><button class="btn btn-primary btn-lg btn-block"><span class="oi oi-caret-top"></span> Upvote {{ write.upvotes_total }}</button></a>
  </div>
</div>

<div class="row pt-2">
  <div class="col-4">
    <h4><span class="oi oi-magnifying-glass"></span> Written by {{ write.writer.username }}</h4>
  </div>
  <div class="col-4 text-right">
    <h4><span class="oi oi-clock"></span> {{ write.pub_date_pretty }}</h4>
  </div>
</div>

<div class="row">
  <div class="col-8">
    <p>{{ write.body }}</p>
  </div>
</div>

<form id="upvote" method="POST" action="{% url 'upvote' write.id %}">
  {% csrf_token%}
  <input type="hidden">
</form>

{% endblock %}
